body {
    background-image: linear-gradient(to bottom, #f6f6fa, #08fcbf);
    font-family: Arial, sans-serif;
    /* overflow-wrap: hidden; */
    height: 90vh;
    
  }
.table{
  width: 400px;
  height: 300px;
  border: solid 5px cornflowerblue;
  box-shadow: #080710;
}
.td1{
  background-color: #000000;
  text-decoration: solid;
  color: #f6f6fa;
  text-align: center;
  font-style: inherit;
  font-weight: bold;
  
}
.td2{
  background-color: rgb(90, 87, 87);
  text-decoration: solid;
  color: #000000;
  text-align: center;
  /* font-style: inherit; */
  /* font-weight: bold; */
}
 /*  */
  header {
    position: relative;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  max-height: min-content;
  }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  overflow: hidden;
  background-color: #333;
}
li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #a09292;
  }
  .active {
    background-color: #04AA6D;
  }
  button {
    margin-top: 10px;
    width: 8%;
    background-color: #c0b2b2;
    color: #080710;
    padding: 10px 0px;
    font-size: 8px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  button:hover{
    background-color: #f7dada88;
  }

  .btn-float-right{
	float: right;
    margin-top: 10px;
    width: 8%;
    background-color: #c0b2b2;
    color: #080710;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
/* sidebar */
.sidebar{
    background-image: linear-gradient(to bottom, #b2b2e9, #809b92);
    position: absolute;
    /* top: 8; */
  margin-bottom: 10px;
    left: 10;
    width: 150px;
    height: 70%;
    padding: 3px 20px;
    transition: all 0.5s ease;
}
/* bottom button */
.btn1 {
    /* margin-top: 10px; */
    width: 8%;
    background-color: #24bb10;
    color: #080710;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 4cm;

  }
  .btn1:hover{
    background-color: #f7dada88;
  }

  .btn1{
	/* float:right; */
    /* margin-top: 10px; */
    width: auto;
    background-color: #30a512;
    color: #080710;
    /* padding: 10px 0px; */
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    /* margin: 43%; */
    /* margin-right: 3%; */
}

/* footer */
.footer {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(5, 5, 5);
   color: rgb(252, 246, 246);
   text-align: center;
}
.form-popup {
  display: none;
  position:absolute;
  width: 500px;
  margin: 5%;
  bottom: 0;
  right: 23%;
  border: 3px solid #f1f1f1;
  
}


.form-container {
  
  width: 495px;
  padding: 5px 20px;
  background-color: rgb(252, 252, 252);
  
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 15px 0 15px 0;
  border: none;
  background: #f1f1f1;
  
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #daddec;
  outline: none;
  
}

.form-container .btn {
  
  background-color: #04AA6D;
  color: white;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left:55px;
  opacity: 0.8;
  

}


.form-container .cancel {
  background-color: red;
  margin-left: 35%;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 5;
   color: #333;

}
